@charset "utf-8";

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

input,
button {
  padding: 0;
}

.grid {
  display: grid;
  gap: 12px;
  grid-template-rows: repeat(5, 80px);
  grid-template-columns: repeat(4, calc(25% - 9px));
  width: 50%;
  max-width: 300px;
}

.grid #operator {
  grid-column: 1 / span 1;
  text-align: center;
}

.grid #result {
  grid-column: 2 / span 3;
  padding: 10px;
  text-align: right;
}

.grid .row {
  grid-column: span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
